{% extends 'base.html' %}

{% block content %}
<div class="main-wrapper">
  <header class="section-page-title">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div data-w-id="8cc37fbb-507e-cf50-9686-2cf68c9d04a5"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
            class="w-layout-grid page-title-component">
            <div class="page-title-content-left">
              <h1>About us</h1>
            </div>
            <div class="page-title-content-right">
              <p class="text-size-medium">At the heart of our success lies an innovative, solutions-oriented mindset that propels us to constantly push the boundaries of what's possible in the world of liquid logistics. From conceptualization to execution, we approach every project with the same level of dedication, drawing upon our wealth of industry knowledge and creative problem-solving abilities to craft exceptional outcomes tailored to your unique requirements.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section style="padding: 20px;">
    <video controls style="width: 100%;">
      <source src="https://res.cloudinary.com/noiro/video/upload/v1706282949/Himex/Tank_dipping_jet_A-1_llyzvh.mp4"
        type="video/mp4">
    </video>
  </section>
  <section data-w-id="1468e9b1-a5b4-5f98-78e8-65cca2462f3f"
    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
    class="section-about">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div class="w-layout-grid about-component">
            <div class="about-content">
              <div class="margin-bottom margin-xsmall">
                <h2 class="heading-style-h3">Liquid Logistics Excellence: Delivering Solutions Since 2009</h2>
              </div>
              <p class="text-size-medium">We have been passionately dedicated to crafting innovative and sustainable
                transport and storage solutions for liquid goods for over two decades. Guided by a talented team of
                highly skilled professionals. From the very beginning, our unwavering commitment to operational
                excellence and environmental stewardship has been the driving force behind our success. By seamlessly
                integrating cutting-edge technologies, industry-leading expertise, and an unyielding focus on safety, we
                have established ourselves as leaders in the liquid logistics space, renowned for our ability to
                efficiently and responsibly move and store a wide range of liquid products. </p>
              <br>

              <p class="text-size-medium">
                Whether designing state-of-the-art pipeline networks, engineering specialized rail tank cars, or
                developing advanced marine transport and storage capabilities, our team approaches each project with the
                same level of dedication and passion. We are not merely providers of logistical services, but strategic
                partners committed to the long-term success of our clients and the sustainability of the industries we
                serve.</p>
            </div>
            <div class="about-image-wrapper"><img
                src="https://images.unsplash.com/photo-1507823690283-48b0929e727b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                loading="lazy" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 43vw, 44vw"
                srcset="https://images.unsplash.com/photo-1507823690283-48b0929e727b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 500w, https://images.unsplash.com/photo-1507823690283-48b0929e727b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 800w, https://images.unsplash.com/photo-1507823690283-48b0929e727b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1250w"
                alt="Image with a team of constructors building a wood garage." class="about-image"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-achievements">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div data-w-id="4bf91c5b-2790-a557-e0fb-053449c74867"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
            class="margin-bottom margin-xxlarge">
            <div class="w-layout-grid achievements-component">
              <div class="achievements-content-left">
                <h3>Powering Industries, Transforming Supply Chains</h3>
              </div>
              <div class="achievements-content-right">
                <div class="margin-bottom margin-medium">
                  <p class="text-size-medium">With a proven track record of excellence, we have successfully delivered
                    innovative liquid transport and storage solutions that have transformed industries and left a
                    lasting impact on communities around the world.</p>
                </div>
                <div class="w-layout-grid achievements-item-list">
                  <div class="achievements-text-wrapper">
                    <div class="margin-bottom margin-xxsmall">
                      <div class="heading-style-h2">15%</div>
                    </div>
                    <div>Reduction in operational costs for clients through optimized logistics</div>
                  </div>
                  <div class="achievements-text-wrapper">
                    <div class="margin-bottom margin-xxsmall">
                      <div class="heading-style-h2">20%</div>
                    </div>
                    <div>Decrease in carbon emissions through sustainable transport solutions</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div data-w-id="4bf91c5b-2790-a557-e0fb-053449c7487d"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
            class="achievements-image-wrapper"><img
              src="https://images.unsplash.com/photo-1509390288171-ce2088f7d08e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              loading="lazy" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 90vw, 93vw"
              srcset="https://images.unsplash.com/photo-1509390288171-ce2088f7d08e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 500w, https://images.unsplash.com/photo-1509390288171-ce2088f7d08e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 800w, https://images.unsplash.com/photo-1509390288171-ce2088f7d08e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1080w, https://images.unsplash.com/photo-1509390288171-ce2088f7d08e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1600w, https://images.unsplash.com/photo-1509390288171-ce2088f7d08e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2207w"
              alt="A beautiful image with a green construction." class="achievements-image"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-cta">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div data-w-id="e2510408-2840-30bd-ae7a-1ab64e184b19" class="w-layout-grid cta-component"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
            <div class="w-layout-grid cta-card">
              <div class="cta-card-content">
                <div class="cta-card-content-top">
                  <div class="margin-bottom margin-xsmall">
                    <h2 class="heading-style-h3">Schedule a consultation with us</h2>
                  </div>
                  <p class="text-size-medium">Schedule a consultation with our team to discuss shipping and storage
                    solutions for your business.</p>
                </div>
                <div class="margin-top margin-medium">
                  <div class="button-group"><a href="/contact"
                      class="button max-width-full-mobile-portrait w-button">Schedule</a></div>
                </div>
              </div>
              <div class="cta-image-wrapper"><img
                  src="https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?q=80&amp;w=1632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  loading="lazy" width="Auto"
                  sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 90vw, 47vw" alt=""
                  srcset="https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?q=80&amp;w=1632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 500w, https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?q=80&amp;w=1632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 800w, https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?q=80&amp;w=1632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1080w, https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?q=80&amp;w=1632&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1471w"
                  class="cta-image"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}