{% extends 'base.html' %}

{% block content %}
<div class="main-wrapper">
  <header class="section-page-title">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div data-w-id="952c6323-7e7c-4e0c-ae3e-758c94a555b4"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
            class="w-layout-grid page-title-component">
            <div class="page-title-content-left">
              <h1>Contact us</h1>
            </div>
            <div class="page-title-content-right">
              <p class="text-size-medium">We would love to hear from you. Feel free to reach out to us with any
                questions or inquiries.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section data-w-id="8f7559ea-1a48-be46-5d02-1babd76127f2"
    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
    class="section-contact">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div class="w-layout-grid contact-component">
            <div class="contact-image-wrapper"><img
                src="https://images.unsplash.com/photo-1617099588165-314858f77ece?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                loading="lazy" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 43vw, 44vw"
                srcset="https://images.unsplash.com/photo-1617099588165-314858f77ece?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 500w, https://images.unsplash.com/photo-1617099588165-314858f77ece?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 800w, https://images.unsplash.com/photo-1617099588165-314858f77ece?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1080w, https://images.unsplash.com/photo-1617099588165-314858f77ece?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2080w"
                alt="" class="contact-image"></div>
            <div class="contact-content">
              <div class="margin-bottom margin-medium">
                <div class="margin-bottom margin-xsmall">
                  <h2 class="heading-style-h4">Tell us how we can help you</h2>
                </div>
              </div>
              <div class="contact-form-block w-form">
                <form action="/sendmail" id="wf-form-Contact-9-Form" name="wf-form-Contact-9-Form" data-name="Contact 9 Form" method="post"
                  class="contact-form" data-wf-page-id="65b794c30e0c6eca8162f11b"
                  data-wf-element-id="8f7559ea-1a48-be46-5d02-1babd7612804" aria-label="Contact 9 Form">
                  <div class="form-field-wrapper"><label for="Contact-9-Name"
                      class="form-field-label">Name</label><input class="form-input w-input" maxlength="256"
                      name="fname" data-name="Contact 9 Name" placeholder="" type="text" id="Contact-9-Name"
                      required=""></div>
                  <div class="form-field-wrapper"><label for="Contact-9-Email"
                      class="form-field-label">Email</label><input class="form-input w-input" maxlength="256"
                      name="email" data-name="Contact 9 Email" placeholder="" type="email"
                      id="Contact-9-Email" required=""></div>
                  <div class="form-field-wrapper"><label for="Contact-9-Message"
                      class="form-field-label">Message</label><textarea placeholder="Type your message..."
                      maxlength="5000" id="Contact-9-Message" name="message" data-name="Contact 9 Message"
                      required="" class="form-input is-text-area w-input"></textarea></div>
                  <input type="submit" data-wait="Please wait..."
                    id="w-node-_8f7559ea-1a48-be46-5d02-1babd7612818-8162f11b"
                    class="button max-width-full-mobile-portrait w-button" value="Submit">
                </form>
                <div class="success-message w-form-done" tabindex="-1" role="region"
                  aria-label="Contact 9 Form success">
                  <div class="success-text">Thank you! Your submission has been received!</div>
                </div>
                <div class="error-message w-form-fail" tabindex="-1" role="region" aria-label="Contact 9 Form failure">
                  <div class="error-text">Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section data-w-id="5f53c6ac-6fee-365c-c2ec-21e392015929"
    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
    class="section-locations">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div class="margin-bottom margin-xxlarge">
            <div class="max-width-large">
              <div class="margin-bottom margin-xsmall">
                <h2>Locations</h2>
              </div>
            </div>
          </div>
          <div data-duration-in="400" data-duration-out="200" data-current="Tab 2" data-easing="ease"
            class="locations-component w-tabs">
            <div id="w-node-_5f53c6ac-6fee-365c-c2ec-21e392015938-8162f11b" class="locations-tabs-menu w-tab-menu"
              role="tablist">
              
              <a data-w-tab="Tab 2" class="locations-tabs-link w-inline-block w-tab-link w--current"
                id="w-tabs-0-data-w-tab-1" href="#w-tabs-0-data-w-pane-1" role="tab"
                aria-controls="w-tabs-0-data-w-pane-1" aria-selected="true">
                <div class="margin-bottom margin-xsmall">
                  <h4 class="heading-style-h5">Houston</h4>
                </div>
                <div>801 Travis St. <br>Houston TX 77002 USA</div>
                <div class="margin-top margin-small">
                  <div class="text-weight-semibold">View Office</div>
                </div>
              </a>
              <a data-w-tab="Tab 3" class="locations-tabs-link w-inline-block w-tab-link" tabindex="-1"
                id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab"
                aria-controls="w-tabs-0-data-w-pane-2" aria-selected="false">
                <div class="margin-bottom margin-xsmall">
                  <h5>Rotterdam</h5>
                </div>
                <div>Blaak 520<br>3011TA Rotterdam</div>
                <div class="margin-top margin-small">
                  <div class="text-weight-semibold">View Office</div>
                </div>
              </a>
            </div>
            <div class="w-tab-content">
              <div data-w-tab="Tab 2" class="locations-tab-pane w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-1"
                role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-1">
                <div class="locations-image-wrapper"><img
                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 28vw, 29vw"
                    srcset="https://images.unsplash.com/photo-1622007151669-bd473dcd1434?q=80&w=1482&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 500w, https://images.unsplash.com/photo-1622007151669-bd473dcd1434?q=80&w=1482&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 800w, https://images.unsplash.com/photo-1622007151669-bd473dcd1434?q=80&w=1482&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1080w, https://images.unsplash.com/photo-1622007151669-bd473dcd1434?q=80&w=1482&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1600w, https://images.unsplash.com/photo-1622007151669-bd473dcd1434?q=80&w=1482&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 2144w"
                    alt=""
                    src="https://images.unsplash.com/photo-1622007151669-bd473dcd1434?q=80&w=1482&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    loading="lazy" class="locations-image"></div>
              </div>
              <div data-w-tab="Tab 3" class="locations-tab-pane w-tab-pane" id="w-tabs-0-data-w-pane-2" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-2">
                <div class="locations-image-wrapper"><img
                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 28vw, 29vw"
                    srcset="https://images.unsplash.com/photo-1589360810840-fa2fbb5872bd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 500w, https://images.unsplash.com/photo-1589360810840-fa2fbb5872bd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 800w, https://images.unsplash.com/photo-1589360810840-fa2fbb5872bd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1080w, https://images.unsplash.com/photo-1589360810840-fa2fbb5872bd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1471w"
                    alt=""
                    src="https://images.unsplash.com/photo-1589360810840-fa2fbb5872bd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    loading="lazy" class="locations-image"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}