{% extends 'base.html' %}

{% block content %}
<!-- hero -->
<main class="main-wrapper">
  <header class="section-header" style="background-image: url('https://images.unsplash.com/photo-1551403793-9beb68d417af?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); height: 80vh; background-position: center; background-repeat: no-repeat; background-size: cover;">
      <div style="color: white;" class="padding-global">
        <div class="container-large">
          <div class="header-component">
            <div class="w-layout-grid header-content-wrapper">
              <div class="header-content-left" style="margin-top: 20px;">
                <h1>Global Logistics</h1>
                <p class="text-size-medium margin-top">has more than 10 years of 
                experience, we specialize in providing efficient shipping and storage solutions. Our dedicated team ensures that </p> <p>products are handled with utmost care. We strive to make the shipping process seamless and hassle-free for our clients.</p>
                <br>
                <div class="margin-top margin-medium">
                    <div class="button-group">
                      <a href="/contact" 
                         class="button is-secondary max-width-full-mobile-portrait w-button" 
                         style="color: white; border: 1px solid white; transition: 0.3s;" 
                         onmouseover="this.style.color='black'; this.style.backgroundColor='white';" 
                         onmouseout="this.style.color='white'; this.style.backgroundColor='transparent';">
                         Contact
                      </a>
                    </div>
                  </div>
              </div>
              
            </div>
          </div>

        </div>
      </div>
  </header>

  <!-- Railway Transport -->
  <section data-w-id="1468e9b1-a5b4-5f98-78e8-65cca2462f3f"
    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
    class="section-about">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div class="w-layout-grid about-component">
            <div class="about-image-wrapper"><img
                src="https://images.unsplash.com/photo-1592024731310-1d79b4d1351c?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                loading="lazy" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 43vw, 44vw"
                srcset="https://images.unsplash.com/photo-1592024731310-1d79b4d1351c?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 500w, https://images.unsplash.com/photo-1592024731310-1d79b4d1351c?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 800w, https://images.unsplash.com/photo-1592024731310-1d79b4d1351c?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1250w"
                alt="Image with a team of constructors building a wood garage." class="about-image"></div>
            <div class="about-content">
              <div class="margin-bottom margin-xsmall">
                <h2 class="heading-style-h3">Railway Transport</h2>
              </div>
              <p class="text-size-medium">At Global Logistics BV, we understand that your business requires a reliable,
                efficient, and safe rail transport solution to meet your unique needs. Our comprehensive rail services
                are designed to seamlessly move your products, large or small, from Point A to Point B and beyond.
                Whether you require bulk haulage, specialized freight handling, or just reliable point-to-point
                delivery, Global Logistics has the rail transport solution to keep your business moving forward
                efficiently and effectively. Experience the difference that a truly integrated logistics partner can
                make.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Tank Storage -->
  <section data-w-id="1468e9b1-a5b4-5f98-78e8-65cca2462f3f"
    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
    class="section-about">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div class="w-layout-grid about-component">
            <div class="about-content">
              <div class="margin-bottom margin-xsmall">
                <h2 class="heading-style-h3">Tank Storages</h2>
              </div>
              <p class="text-size-medium">At Global Logistics BV, we understand the critical importance of secure, reliable, and adaptable tank storage for your most valuable products. That's why we engineer our storage solutions with the highest-quality materials and state-of-the-art safety features, ensuring the long-term durability and integrity of your goods.
                Our commitment to you goes beyond just providing a secure place to store your products. With Global Logistics, you gain a true logistics partner dedicated to the success of your business. Our expert team closely monitors your inventory, optimizes storage and distribution, and provides around-the-clock support to ensure your supply chain operates seamlessly.
              </p>
            </div>
            <div class="about-image-wrapper"><img
                src="https://res.cloudinary.com/noiro/image/upload/v1705495945/Himex/mykola-muzhytskyi-Xleb9vOD0_E-unsplash_ulhse8.jpg"
                loading="lazy" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 43vw, 44vw"
                srcset="https://res.cloudinary.com/noiro/image/upload/v1705495945/Himex/mykola-muzhytskyi-Xleb9vOD0_E-unsplash_ulhse8.jpg 500w, https://res.cloudinary.com/noiro/image/upload/v1705495945/Himex/mykola-muzhytskyi-Xleb9vOD0_E-unsplash_ulhse8.jpg 800w, https://res.cloudinary.com/noiro/image/upload/v1705495945/Himex/mykola-muzhytskyi-Xleb9vOD0_E-unsplash_ulhse8.jpg 1250w"
                alt="Image with a team of constructors building a wood garage." class="about-image"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Pipeline Transport -->
  <section data-w-id="1468e9b1-a5b4-5f98-78e8-65cca2462f3f"
    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
    class="section-about">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div class="w-layout-grid about-component">
            <div class="about-image-wrapper"><img
                src="https://res.cloudinary.com/noiro/image/upload/v1731965380/Himex/martin-adams-a_PDPUPuNZ8-unsplash_dgqey9.jpg"
                loading="lazy" sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 43vw, 44vw"
                srcset="https://res.cloudinary.com/noiro/image/upload/v1731965380/Himex/martin-adams-a_PDPUPuNZ8-unsplash_dgqey9.jpg 500w, https://res.cloudinary.com/noiro/image/upload/v1731965380/Himex/martin-adams-a_PDPUPuNZ8-unsplash_dgqey9.jpg 800w, https://res.cloudinary.com/noiro/image/upload/v1731965380/Himex/martin-adams-a_PDPUPuNZ8-unsplash_dgqey9.jpg 1250w"
                alt="Image with a team of constructors building a wood garage." class="about-image"></div>
            <div class="about-content">
              <div class="margin-bottom margin-xsmall">
                <h2 class="heading-style-h3">Pipeline Transport</h2>
              </div>
              <p class="text-size-medium">At Global Logistics BV, we are committed to delivering seamless, reliable, and safe pipeline transport solutions that keep your critical supply chains flowing. As an essential component of the global energy and industrial landscapes, we understand the pivotal role that pipeline transport plays in moving essential products, materials, and resources.
                But our service goes beyond just Point A to Point B logistics. At Global Logistics, we position ourselves as a true end-to-end partner, providing comprehensive supply chain management solutions that give you total visibility and control. Our dedicated customer service team is always available to answer your questions, address your concerns, and ensure your complete satisfaction.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Schedule consultation -->
  <section class="section-cta">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div data-w-id="e2510408-2840-30bd-ae7a-1ab64e184b19" class="w-layout-grid cta-component">
            <div class="w-layout-grid cta-card">
              <div class="cta-card-content">
                <div class="cta-card-content-top">
                  <div class="margin-bottom margin-xsmall">
                    <h2 class="heading-style-h3">Schedule a consultation with us</h2>
                  </div>
                  <p class="text-size-medium">Schedule a consultation with our team to discuss shipping and storage
                    solutions for your business.</p>
                </div>
                <div class="margin-top margin-medium">
                  <div class="button-group"><a href="/contact"
                      class="button max-width-full-mobile-portrait w-button">Schedule</a></div>
                </div>
              </div>
              <div class="cta-image-wrapper"><img
                  src="https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  loading="lazy" width="Auto"
                  sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 90vw, 47vw" alt=""
                  srcset="https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 500w, https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 800w, https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1080w, https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1471w"
                  class="cta-image" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-faq">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div data-w-id="87f91cd3-f292-5055-36a0-2b2cab7a0818" style="opacity:0" class="margin-bottom margin-xxlarge">
            <div class="max-width-large">
              <div class="margin-bottom margin-xsmall">
                <h2>FAQs</h2>
              </div>
            </div>
          </div>
          <div data-w-id="87f91cd3-f292-5055-36a0-2b2cab7a081f" style="opacity:0" class="faq2-component">
            <div class="faq2-accordion">
              <div data-w-id="87f91cd3-f292-5055-36a0-2b2cab7a0821" class="faq2-question">
                <div class="text-size-medium text-weight-semibold">How can I get started?</div>
                <div class="faq2-icon-wrapper">
                  <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
                        fill="currentColor" />
                    </svg></div>
                </div>
              </div>
              <div style="width:100%;height:0px" class="faq2-answer">
                <div class="margin-bottom margin-small">
                  <div class="max-width-large">
                    <p>To get started, simply reach out to our team and we&#x27;ll be more than happy to guide you
                      through the entire process.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="faq2-accordion">
              <div data-w-id="87f91cd3-f292-5055-36a0-2b2cab7a082c" class="faq2-question">
                <div class="text-size-medium text-weight-semibold">What is our expertise in logistics?</div>
                <div class="faq2-icon-wrapper">
                  <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
                        fill="currentColor" />
                    </svg></div>
                </div>
              </div>
              <div style="width:100%;height:0px" class="faq2-answer">
                <div class="margin-bottom margin-small">
                  <div class="max-width-large">
                    <p>Our expertise lies in managing safe and efficient logistics for petroleum, gas, and
                      chemicals. We have extensive experience in handling the transportation, storage, and
                      distribution of these products, ensuring their timely delivery and compliance with industry
                      regulations.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="faq2-accordion">
              <div data-w-id="87f91cd3-f292-5055-36a0-2b2cab7a0837" class="faq2-question">
                <div class="text-size-medium text-weight-semibold">What are the benefits of our logistics services?
                </div>
                <div class="faq2-icon-wrapper">
                  <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
                        fill="currentColor" />
                    </svg></div>
                </div>
              </div>
              <div style="width:100%;height:0px" class="faq2-answer">
                <div class="margin-bottom margin-small">
                  <div class="max-width-large">
                    <p>Our logistics services offer numerous benefits. We ensure the safe handling and
                      transportation of petroleum, gas, and chemicals, minimizing the risk of accidents and
                      environmental damage. Additionally, our efficient supply chain management helps optimize
                      operations, reduce costs, and improve overall productivity.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="faq2-accordion">
              <div data-w-id="87f91cd3-f292-5055-36a0-2b2cab7a0842" class="faq2-question">
                <div class="text-size-medium text-weight-semibold">Can we handle specialized logistics requirements?
                </div>
                <div class="faq2-icon-wrapper">
                  <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
                        fill="currentColor" />
                    </svg></div>
                </div>
              </div>
              <div style="width:100%;height:0px" class="faq2-answer">
                <div class="margin-bottom margin-small">
                  <div class="max-width-large">
                    <p>Yes, we have the expertise to handle specialized logistics requirements. Whether it's the
                      transportation of hazardous materials, managing complex supply chains, or ensuring compliance
                      with international regulations, our team is equipped to handle diverse logistics challenges.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="faq2-accordion">
              <div data-w-id="87f91cd3-f292-5055-36a0-2b2cab7a084d" class="faq2-question">
                <div class="text-size-medium text-weight-semibold">How can we assist with supply chain management?
                </div>
                <div class="faq2-icon-wrapper">
                  <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewBox="0 0 32 32" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
                        fill="currentColor" />
                    </svg></div>
                </div>
              </div>
              <div style="width:100%;height:0px" class="faq2-answer">
                <div class="margin-bottom margin-small">
                  <div class="max-width-large">
                    <p>We provide comprehensive support in supply chain management. Our expertise includes demand
                      forecasting, inventory optimization, vendor management, and transportation planning. By
                      optimizing the supply chain, we help our clients achieve cost savings, improve customer
                      satisfaction, and gain a competitive edge.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="margin-top margin-xxlarge">
            <div class="max-width-medium">
              <div class="margin-bottom margin-xsmall">
                <h3 class="heading-style-h4">Still have questions?</h3>
              </div>
              <p class="text-size-medium">Contact us today for more information.</p>
              <div class="margin-top margin-medium"><a href="/contact"
                  class="button is-secondary max-width-full-mobile-portrait w-button">Contact</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock content %}