{% extends 'base.html' %}

{% block content %}
<!-- Pipeline Logistics -->
<section data-w-id="1468e9b1-a5b4-5f98-78e8-65cca2462f3f"
    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
    class="section-about">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-medium">
                <div class="w-layout-grid about-component">
                    <div class="about-image-wrapper">
                        <img src="https://images.unsplash.com/photo-1710113964097-46e3b6a73426?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image description here" class="about-image">
                    </div>
                    <div class="about-content">
                        <div class="margin-bottom margin-xsmall">
                            <h2 class="heading-style-h3">Why Choose Our Railway Transport?</h2>
                        </div>
                       <div class="margin-bottom margin-xsmall">
                        <p class="text-size-medium">
                            At Global Logistics, we offer railway transport solutions that are designed to meet the unique needs of our industrial clients. Our railway transport services are reliable, efficient and safe. They are perfect for moving a variety of products, including oil, gas, and diesel.
                        </p>
                        <br>
                        <p class="text-size-medium">
                            With our railway transport, you can rest assured that your products are moved in a safe and secure environment. Our dedicated team of professionals is always on hand to provide you with the support and assistance you need to manage your transport effectively.                        </p>
                       </div>

                        <div class="margin-bottom margin-xsmall">
                            <h2 class="heading-style-h3">Benefits of Our Railway Transport</h2>
                        </div>
                        <div class="margin-bottom margin-xsmall">
                            <p class="text-size-medium">
                                Our railway transport offers numerous benefits. They are designed to maximize transport efficiency, ensuring that you can move as much product as possible in a limited time. Additionally, our railway transport services are easy to manage, reducing the amount of time and effort you need to invest in coordination.
                            </p>
                            <br>
                            <p class="text-size-medium">
                                Furthermore, our railway transport services are designed to protect your products from environmental factors, ensuring that they remain in optimal condition for as long as possible. With our railway transport, you can maximize your productivity and profitability.
                            </p>
                            <p class="text-size-medium">
                                Lastly, our railway transport services offers the highest quality standards, this guarantees safety and reliability, providing you with a reliable transport solution that stands the test of time. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}