{% extends 'base.html' %}

{% block content %}
<section data-w-id="1468e9b1-a5b4-5f98-78e8-65cca2462f3f"
    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
    class="section-about">
    <div class="padding-global">
        <div class="container-large">
            <div class="about-content">
                <div class="margin-bottom margin-xsmall">
                    <h2 class="heading-style-h3">About Our Terminals</h2>
                </div>
                <div class="margin-bottom margin-xsmall">
                    <p class="text-size-medium">
                        At Global, we operate a vast network of 42 terminals, making us a leading provider in the
                        logistics industry. With our extensive terminal infrastructure, we have the capacity to handle a
                        total of 25,704,734 units, demonstrating our ability to efficiently manage large-scale
                        operations.
                    </p>
                    <br>
                    <p class="text-size-medium">
                        Our terminals are strategically located and designed to handle a wide range of products. We have
                        dedicated 42 terminals for general cargo, 46 for chemicals, 17 for vegoils, and 14 for biofuels,
                        allowing us to cater to the diverse needs of our clients across various sectors. Whether it's
                        transporting goods, chemicals, or specialized products, our terminals are equipped to handle it
                        all.</p>
                    <p class="text-size-medium">
                        When it comes to safety and security, we prioritize the utmost care for your products. Our
                        state-of-the-art equipment and cutting-edge technologies ensure that your goods are handled with
                        the highest level of precision and protection. We take pride in our robust infrastructure and
                        innovative approach, which enable us to maintain the integrity and quality of your products
                        throughout the logistics process.
                    </p>
                    <br>
                    <p class="text-size-medium">
                        At Global, we understand that each client has unique needs. That's why we strive to provide
                        personalized services that align with their specific requirements. Our customer-centric
                        approach, combined with our unwavering commitment to maintaining the highest standards of
                        service, has earned us the trust of businesses across various sectors. When you partner with
                        Global, you can expect tailored solutions and exceptional service that exceed your expectations.
                    </p>

                </div>
            </div>
        </div>
    </div>

</section>
<section data-w-id="1468e9b1-a5b4-5f98-78e8-65cca2462f3f"
    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;"
    class="section-about padding-section-large">
    <div class="padding-global">
        <div class="container-large">
            <div class="about-content">
                <div>
                    <div class="product-details__tab" style="margin-top: -70px;">
                        <div class="container">

                            <div role="tabpanel" class="tab-pane show active  animated fadeInUp"
                                id="product-details__tab-1">
                                <table id="customers" class="terminals-table" style="height: 834px;" width="1104">
                                    <tbody>
                                        <tr>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">AMERICA LOCATION</th>
                                        </tr>
                                        <tr>
                                            <td>BCanadaerminals of Canada – Hamilton</td>
                                            <td>100.00%</td>
                                            <td>162,930</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV of Canada – Montreal East</td>
                                            <td>100.00%</td>
                                            <td>419,343</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV of Canada – Montreal West</td>
                                            <td>100.00%</td>
                                            <td>37,297</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">–</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV of Canada – Quebec City</td>
                                            <td>100.00%</td>
                                            <td>163,342</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">USA</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Deer Park (Houston)</td>
                                            <td>100.00%</td>
                                            <td>1,115,103</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Long Beach</td>
                                            <td>100.00%</td>
                                            <td>56,104</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Los Angeles</td>
                                            <td>100.00%</td>
                                            <td>378,789</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Savannah</td>
                                            <td>100.00%</td>
                                            <td>251,709</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Brazil</th>
                                        </tr>
                                        <tr>
                                            <td>União/Global Logistic BV Armazéns Gerais</td>
                                            <td>50.00%</td>
                                            <td>59,435</td>
                                            <td><abbr title="Petroleum">–</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Brazil – Alemoa Terminal</td>
                                            <td>100.00%</td>
                                            <td>173,857</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Brazil – Aratu Terminal</td>
                                            <td>100.00%</td>
                                            <td>108,130</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <br>
                                <h3><strong>&nbsp; Asia and Middle East</strong></h3>

                                <table id="customers">
                                    <caption></caption>
                                    <thead>
                                        <tr>
                                            <th>Location</th>
                                            <th>Share</th>
                                            <th>Capacity (cbm)</th>
                                            <th><abbr title="Petroleum">P</abbr></th>
                                            <th><abbr title="Chemicals">C</abbr></th>
                                            <th><abbr title="Gases">G</abbr></th>
                                            <th><abbr title="Vegoils">V</abbr></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">India</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Kandla</td>
                                            <td>100.00%</td>
                                            <td>252,141</td>
                                            <td><abbr title="Petroleum">-</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">-</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Indonesia</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Jakarta</td>
                                            <td>49.00%</td>
                                            <td>251,025</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">-</abbr></td>
                                            <td><abbr title="Gases">-</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Merak</td>
                                            <td>95.00%</td>
                                            <td>80,400</td>
                                            <td><abbr title="Petroleum">-</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Australia</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Darwin</td>
                                            <td>100.00%</td>
                                            <td>173,583</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">-</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Sydney - Site B</td>
                                            <td>100.00%</td>
                                            <td>371,650</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">-</abbr></td>
                                            <td><abbr title="Gases">-</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Malaysia</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Terminals</td>
                                            <td>20.85%</td>
                                            <td>395,896</td>
                                            <td><abbr title="Petroleum">-</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Pengerang Independent Terminals</td>
                                            <td>44.10%</td>
                                            <td>1,763,064</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">-</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>PT2SB</td>
                                            <td>26.50%</td>
                                            <td>1,496,472</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Singapore</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Singapore - Banyan Terminal</td>
                                            <td>69.50%</td>
                                            <td>1,452,163</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Singapore - Penjuru Terminal</td>
                                            <td>69.50%</td>
                                            <td>283,850</td>
                                            <td><abbr title="Petroleum">-</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">-</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Singapore - Sakra Terminal</td>
                                            <td>69.50%</td>
                                            <td>288,070</td>
                                            <td><abbr title="Petroleum">-</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">-</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Singapore - Sebarok Terminal</td>
                                            <td>69.50%</td>
                                            <td>1,339,579</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">-</abbr></td>
                                            <td><abbr title="Gases">-</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Singapore JTC - Jurong Rock Caverns</td>
                                            <td>0.00%</td>
                                            <td>1,470,000</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">-</abbr></td>
                                            <td><abbr title="Gases">-</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Thailand</th>
                                        </tr>
                                        <tr>
                                            <td>Thai Tank Terminal</td>
                                            <td>49.00%</td>
                                            <td>720,300</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Kingdom of Saudi Arabia</th>
                                        </tr>
                                        <tr>
                                            <td>Chemtank</td>
                                            <td>25.00%</td>
                                            <td>568,000</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>SabTank (Al Jubail)</td>
                                            <td>10.00%</td>
                                            <td>1,457,987</td>
                                            <td><abbr title="Petroleum">-</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>SabTank (Yanbu)</td>
                                            <td>10.00%</td>
                                            <td>331,838</td>
                                            <td><abbr title="Petroleum">-</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">-</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Pakistan</th>
                                        </tr>
                                        <tr>
                                            <td>Engro Elengy Terminal Pakistan (LNG)</td>
                                            <td>44.00%</td>
                                            <td>151,000</td>
                                            <td><abbr title="Petroleum">-</abbr></td>
                                            <td><abbr title="Chemicals">-</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Engro Global Logistic BV</td>
                                            <td>50.00%</td>
                                            <td>82,400</td>
                                            <td><abbr title="Petroleum">-</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">United Arab Emirates</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Horizon Fujairah</td>
                                            <td>33.33%</td>
                                            <td>2,615,732</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">-</abbr></td>
                                            <td><abbr title="Gases">-</abbr></td>
                                            <td><abbr title="Vegoils">-</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Number of terminals: 20</td>
                                            <td></td>
                                            <td>15,545,150</td>
                                            <td>11</td>
                                            <td>14</td>
                                            <td>9</td>
                                            <td>3</td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <p></p>

                                <p></p>





                                <h3><strong>RUSSIA</strong></h3>
                                <table id="customers" class="terminals-table">



                                    <thead>
                                        <tr>
                                            <th>Location</th>
                                            <th>Share</th>
                                            <th>Capacity (cbm)</th>
                                            <th><abbr title="Petroleum">P</abbr></th>
                                            <th><abbr title="Chemicals">C</abbr></th>
                                            <th><abbr title="Gases">G</abbr></th>
                                            <th><abbr title="Vegoils">V</abbr></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Breda Tarminals </th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Vladivostok</td>
                                            <td>100.00%</td>
                                            <td>610,000 m3</td>
                                            <td><abbr title="Petroleum">–</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Primorsk commercial seaport </td>
                                            <td>100.00%</td>
                                            <td>510,000 m3</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Novorossiysk</td>
                                            <td>100.00%</td>
                                            <td>100,000</td>
                                            <td><abbr title="Petroleum">–</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                    </tbody>



                                </table>



                                <br>
                                <br>
                                <br>


                                <h3><strong>Europe and Africa</strong></h3>
                                <table id="customers">



                                    <thead>
                                        <tr>
                                            <th>Location</th>
                                            <th>Share</th>
                                            <th>Capacity (cbm)</th>
                                            <th><abbr title="Petroleum">P</abbr></th>
                                            <th><abbr title="Chemicals">C</abbr></th>
                                            <th><abbr title="Gases">G</abbr></th>
                                            <th><abbr title="Vegoils">V</abbr></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Belgium</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV ACS (Antwerp)</td>
                                            <td>100.00%</td>
                                            <td>202,100</td>
                                            <td><abbr title="Petroleum">–</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Eurotank (Antwerp)</td>
                                            <td>100.00%</td>
                                            <td>494,992</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                            <style>
                                                table {
                                                    border-collapse: collapse;
                                                    width: 100%;
                                                }

                                                th {
                                                    background-color: yellow;
                                                }

                                                th,
                                                td {
                                                    border: 1px solid black;
                                                    padding: 8px;
                                                    text-align: left;
                                                }
                                            </style>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Linkeroever (Antwerp)</td>
                                            <td>75.23%</td>
                                            <td>256,789</td>
                                            <td><abbr title="Petroleum">–</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Germany</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Dupeg Terminal Hamburg</td>
                                            <td>85.67%</td>
                                            <td>456,123</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">–</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Spain</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Algeciras</td>
                                            <td>60.89%</td>
                                            <td>789,654</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">–</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Terquimsa Barcelona</td>
                                            <td>40.12%</td>
                                            <td>321,987</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Terquimsa Tarragona</td>
                                            <td>55.34%</td>
                                            <td>654,321</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">Estonia</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV E.O.S. – Tallinn</td>
                                            <td>30.45%</td>
                                            <td>987,654</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">–</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">The Netherlands</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV (LNG Rotterdam)</td>
                                            <td>45.67%</td>
                                            <td>123,456</td>
                                            <td><abbr title="Petroleum">–</abbr></td>
                                            <td><abbr title="Chemicals">–</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Maasvlakte Olie Terminal (Rotterdam)</td>
                                            <td>25.89%</td>
                                            <td>789,012</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">–</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Amsterdam Westpoort</td>
                                            <td>95.76%</td>
                                            <td>654,321</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">–</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Botlek (Rotterdam)</td>
                                            <td>80.34%</td>
                                            <td>987,654</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Chemiehaven (Rotterdam)</td>
                                            <td>70.12%</td>
                                            <td>321,987</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Eemshaven</td>
                                            <td>15.67%</td>
                                            <td>654,321</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">–</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Europoort (Rotterdam)</td>
                                            <td>90.45%</td>
                                            <td>987,654</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">–</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Laurenshaven (Rotterdam)</td>
                                            <td>85.67%</td>
                                            <td>321,987</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">–</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV TTR (Rotterdam)</td>
                                            <td>75.23%</td>
                                            <td>654,321</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Vlaardingen</td>
                                            <td>95.76%</td>
                                            <td>987,654</td>
                                            <td><abbr title="Petroleum">–</abbr></td>
                                            <td><abbr title="Chemicals">–</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">V</abbr></td>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Vlissingen</td>
                                            <td>80.34%</td>
                                            <td>321,987</td>
                                            <td><abbr title="Petroleum">–</abbr></td>
                                            <td><abbr title="Chemicals">–</abbr></td>
                                            <td><abbr title="Gases">G</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="7">South Africa</th>
                                        </tr>
                                        <tr>
                                            <td>Global Logistic BV Durban</td>
                                            <td>65.89%</td>
                                            <td>654,321</td>
                                            <td><abbr title="Petroleum">P</abbr></td>
                                            <td><abbr title="Chemicals">C</abbr></td>
                                            <td><abbr title="Gases">–</abbr></td>
                                            <td><abbr title="Vegoils">–</abbr></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Global Logistic BV of terminals: 20</td>
                                            <td></td>
                                            <td>14,262,396</td>
                                            <td>15</td>
                                            <td>9</td>
                                            <td>4</td>
                                            <td>4</td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <table style="margin-top: 10px;">
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Number of terminals: 42</th>
                                            <th></th>
                                            <th>25,704,734</th>
                                            <th>42</th>
                                            <th>46</th>
                                            <th>17</th>
                                            <th>14</th>
                                        </tr>
                                    </thead>
                                </table>

                                <table class="terminals-table">
                                    <colgroup>
                                        <col class="location">
                                        <col class="share">
                                        <col class="capacity">
                                        <col class="petroleum">
                                        <col class="chemicals">
                                        <col class="gases">
                                        <col class="vegoils">
                                    </colgroup>
                                    <thead>
                                    </thead>
                                </table>

                                <p></p><!-- /.product-details__tab-text -->
                                <!-- /.tab-pane -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}